{{ partial "header.html" . }}

<div class="splash">
    <div class="container">
        <h1 class="title">Kitsune Fox</h1>
        <p class="intro">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula arcu tortor, id feugiat sapien tincidunt vitae. Nulla finibus ullamcorper sapien. Suspendisse venenatis posuere consectetur. Fusce vel volutpat massa, vitae pellentesque ligula. Nulla dignissim ac urna eu rhoncus. Suspendisse scelerisque purus in diam bibendum lobortis. Vivamus ut convallis neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris feugiat sem id dapibus placerat.

            Sed ac tortor dui. Etiam at suscipit neque. Mauris fringilla tincidunt enim, a tincidunt ante. Etiam metus nunc, laoreet sed magna vitae, dapibus rutrum tortor. Vivamus dignissim purus sodales ligula maximus commodo. Curabitur ultricies, tortor vitae vehicula aliquet, nunc dui euismod dolor, viverra tincidunt lacus diam vitae tellus. In non laoreet risus, quis dictum turpis. Suspendisse volutpat mi non nisl sollicitudin tincidunt. In sit amet nulla eget ante suscipit facilisis.
        </p>
    </div>
</div>

{{ partial "footer.html" . }}
