<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ .Title }} &middot; {{ .Site.Title }}</title>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fox.css">
</head>
<body>
    <div class="header">
        <div class="navigation">
            <a class="brand" href="{{ .Site.BaseURL }}">Kitsune Fox</a>
            <span class="quote">Stop and smell the tiger lilies.</span>
            <ul class="links">
                <li><a href="{{ .Site.BaseURL }}blog">Blog</a></li>
                <li><a href="{{ .Site.BaseURL }}resume">Re&#769;sume&#769;</a></li>
                <li><a href="{{ .Site.BaseURL }}about">About</a></li>
            </ul>
        </div>
    </div>
